/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");




.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 200px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
  background-color: #11101d;
  width: 100vw;
}


.nav,
.nav .nav-links {
  display: flex;
  align-items: center;
}

.nav {
  justify-content: space-between;
}

a {
  color: #fff;
  text-decoration: none;
}

.nav .logo {
  font-size: 22px;
  font-weight: 500;
}

.nav .nav-links {
  column-gap: 20px;
  list-style: none;
}

.nav .nav-links a {
  transition: all 0.2s linear;
}

.nav.openSearch .nav-links a {
  opacity: 0;
  pointer-events: none;
}

.nav .search-icon {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.nav .search-box {
  position: absolute;
  right: 250px;
  height: 45px;
  max-width: 555px;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s linear;
}

.nav.openSearch .search-box {
  opacity: 1;
  pointer-events: auto;
}

.search-box .search-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  left: 15px;
  color: #6739B7;
  transform: translateY(-50%);
}

.search-box input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 6px;
  background-color: #fff;
  padding: 0 15px 0 45px;
}

.nav .navOpenBtn,
.nav .navCloseBtn {
  display: none;
}



.main-section {
  height: auto;
  position: relative;
  display: flex;
  margin-top: 5%;
  gap: 2px;
  align-items: center;
  flex-wrap: wrap;
  transition: all 0.5s linear;
}

.block {
  height: 500px;
  margin: 2px;
  display: flex;
  flex: 1 1 300px;
  position: relative;
  justify-content: center;
  align-items: center;
}

.text-section {
  text-align: center;
  color: #fff;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

.text-section h1 {
  margin-top: 10px;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.02em;
}

.text-section h3 {
  color: orange;
  padding-bottom: 10px;
}

.text-section p {
  padding: 0 5px;
  margin: 0 20px;
}

.text-section a {
  color: #FF057C;
  margin-top: 20px;
  padding: 7px 20px;
  font-size: 1.2em;
  border-radius: 10px;
  transition: 0.3s ease;
}

.text-section a:hover {

  color: #fff;
}

.slot-buttons {
  text-align: center;
  margin-top: 15px;
}

.slot-buttons a {
  border: 1px solid #fff;
  padding: 10px 30px;
  border-radius: 10px;
  margin: 5px;
  transition: 0.3s linear;
}

.slot-buttons a:hover {
  background-color: #FF057C;
  border: none;
  color: #fff;
}

.slot-buttons a:nth-child(2) {
  background-color: #FF057C;
  border: none;
  color: #fff;
}


.img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}



.img-container::after {
  content: '';
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  height: 90%;
  width: 70%;
  background: rgb(33, 104, 255);
  background: radial-gradient(circle, rgb(46, 58, 82) 2%, rgb(55, 69, 82) 64%);
  filter: blur(10%);
  z-index: -1;
}

.slider-container {
  position: relative;
  width: 100%;
  max-width: 700px;
  margin: auto;
  overflow: hidden;
}

.slider {
  display: flex;
  align-items: center;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
}

.image {
  width: 100%;
  height: auto;
}



/* responsive */
@media screen and (max-width: 1160px) {
  .nav {
    padding: 15px 100px;
    background-color: #11101d;
    width: 100vw;
  }

  .nav .search-box {
    right: 150px;
  }

  .block {
    width: 50%;
  }


  .text-section h1 {
    margin-top: 10px;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.02em;
  }

  .text-section h3 {
    color: orange;
    padding-bottom: 10px;
  }

  .text-section p {
    padding: 0 5px;
    margin: 0 20px;
  }

  .text-section a {
    color: #FF057C;
    margin-top: 20px;
    padding: 7px 20px;
    font-size: 1.1em;
    border-radius: 10px;
    transition: 0.3s ease;
  }

}

@media screen and (max-width: 950px) {
  .nav {
    padding: 15px 50px;
    background-color: #11101d;
    width: 100vw;
  }

  .nav .search-box {
    right: 100px;
    max-width: 400px;
  }

}

@media screen and (max-width: 768px) {

  .nav .navOpenBtn,
  .nav .navCloseBtn {
    display: block;
  }

  .nav {
    padding: 15px 20px;
  }

  .nav .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    max-width: 280px;
    width: 100%;
    padding-top: 100px;
    row-gap: 30px;
    flex-direction: column;
    background-color: #11101d;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
    z-index: 100;
  }

  .nav.openNav .nav-links {
    left: 0;
  }

  .nav .navOpenBtn {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }

  .nav .navCloseBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }

  .nav .search-box {
    top: calc(100% + 10px);
    max-width: calc(100% - 20px);
    right: 50%;
    transform: translateX(50%);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

  .img-container {
    width: 500px;
    height: 300px;
    position: relative;
  }



  .text-section h1 {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.02em;
  }

  .text-section h3 {
    color: orange;
    font-size: 0.8rem;
    padding-bottom: 5px;
  }

  .text-section p {
    padding: 0 5px;
    margin: 0 10px;
    font-size: 15px;
  }

  .text-section a {
    color: #FF057C;
    margin-top: 10px;
    padding: 7px 20px;
    font-size: 1em;
    border-radius: 10px;
    transition: 0.3s ease;
  }

  .img-container::after {
    content: '';
    position: absolute;
    top: 0;
    right: 20%;
    border-radius: 50%;
    height: 80%;
    width: 50%;
    background: rgb(33, 104, 255);
    background: radial-gradient(circle, rgb(46, 58, 82) 2%, rgb(55, 69, 82) 64%);
    filter: blur(10%);
    z-index: -1;
  }

}