

   .body {
    width: 100vw;
    height: 100vh;
  }
  
  .row {
    display: flex; /* Use flexbox layout */
    justify-content: space-between; /* Distribute space between the cards */
    padding: 20px; /* Add padding */
  }
  
  .card-container {
    flex: 0 0 calc(33.33% - 20px); /* Set width of card container */
    padding: 10px; /* Add padding to each card container */
  }
  
  @media screen and (max-width: 768px) {
    .row {
      flex-wrap: wrap; /* Wrap the cards to a new line on smaller screens */
    }
  
    .card-container {
      flex: 0 0 calc(50% - 20px); /* Adjust width for smaller screens */
    }
  }
  
  @media screen and (max-width: 576px) {
    .card-container {
      flex: 0 0 calc(100% - 20px); /* Full width for screens smaller than 576px */
    }
  }
  