/* *,
*::before,
*::after {
  box-sizing: border-box;
}

/* FONTS 
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif; */

 */


h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

p#break {
  font-weight: lighter;
  font-size: 0.85rem;
  line-height: 1;

  margin: 0;
}

.container {
  width: 100%;
  margin: auto;
  max-width: 1000px;
}

.card {
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.46);
  border-radius: 10px;
  margin-bottom: 2em;
  padding: 2em;
  /* Gives opacity to card without effecting children */
  background: rgba(247, 247, 247, 0.95);
  border-color: #00b0f0;
  width: auto;
}

.message-title {
  margin-top: 0;
  padding-bottom: 0.75em;
  border-bottom: solid 1px rgb(221, 221, 221);
  text-align: left;
  border-color: #00b0f0;
}

.message-container {
  margin-bottom: 8em;
  max-width: auto;
}

/* form {
  display: grid;

  grid-template-columns: 90px auto auto;
  grid-column-gap: 0.5em;
  grid-row-gap: 2em;
  margin-left: 5%;
    margin-top: 3%;
} */

label {
  font-weight: bold;
  grid-column: 1/2;
}

input {
  /* May help keep right column responsive
	width: cal(100%-200px); */
    grid-column: 2 / 3;
    height: 3em;
    border: solid 3px var(--primary-clr);
    border-radius: 4em;
    padding: 0 1em;
    border-color: #00b0f0;
}

input,
textarea {
  font-family: "Roboto", sans-serif;
}

textarea {
  grid-column: 2/4;
  border-radius: 2em;
  border: solid 3px var(--primary-clr);
  padding: 0.5em 1em;
}

input:focus,
textarea:focus {
  background: rgb(211, 230, 253);
}

.first-name {
  grid-column: 2/3;
}

.last-name {
  grid-column: 3/4;
}

.button-container {
  grid-column: 1/4;
  display: flex;
  justify-content: center;
  
}

.button {
  width: 100px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
  transition: .4s ease;
}

.button:hover {
  opacity: 0.7;
}

@media screen and (max-width: 1024px) {
  /* Specific to background image */
  img #background-img {
    left: 50%;
    left: -512px; /* 50% */
  }
}

/* For Mobile */
@media (max-width: 750px) {
  .container {
    width: 90%;
  }

  form {
    display: flex;
    flex-direction: column;
    grid-row-gap: 0;
  }

  .name {
    grid-column-gap: 0;
  }

  input,
  textarea {
    margin: 1em 0;
  }

  p#break {
    display: inline;
  }
}
