
.bg-gray {
    background-color: #f9f9f9;
}

.site-heading h2 {
  display: block;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.site-heading h2 span {
  color: #ffaf5a;
}

.span1{
    float: right;
    margin-right: 10px;
}

.site-heading h4 {
  display: inline-block;
  padding-bottom: 20px;
  position: relative;
  text-transform: capitalize;
  z-index: 1;
  margin-right: 39%;
}

.site-heading h4::before {
  background: #ffaf5a none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 2px;
  left: 50%;
  margin-left: -25px;
  position: absolute;
  width: 50px;
}

.site-heading {
  margin-bottom: 60px;
  overflow: hidden;
  margin-top: -5px;
  width: 70%;
  margin-left: 30%;
}


.features-items,
.features-items .items-box {
 
  overflow: hidden;

  width: 100%;
}

.features-area .equal-height::after {
  background: #e7e7e7 none repeat scroll 0 0;
  content: "";
  height: 100%;
  position: absolute;
  right: -1px;
  top: 0;
  width: 1px;
}

.features-area.item-full .equal-height::before {
  background: #e7e7e7 none repeat scroll 0 0;
  content: "";
  height: 1px;
  position: absolute;
  bottom: -1px;
  right: 0;
  width: 100%;
}

.features-area .features-items .col-md-5, 
.features-area .features-items .col-md-7 {
  display: table-cell;
  float: none;
  vertical-align: middle;
}

.features-area .features-items.reversed .col-md-5, 
.features-area .features-items.reversed .col-md-7 {
  display: inline-block;
  float: left;
}

.features-area .features-items.reversed .info-box {
  float: right;
}

.features-area .features-items .item {
  padding: 15px 30px;
}

.features-area.item-full .features-items .item {
  padding: 30px;
  margin-left: 30%;
}

.features-area .features-items .item h4 {
  position: relative;
}

.features-area.bottom-small {
  padding-bottom: 25px;
}

.features-area.default-padding.bottom-none {
  padding-bottom: 30px;
}

.features-area .item .icon {
  margin-bottom: 20px;
}

@media only screen and (max-width: 570px) {
  .features-area .features-items.reversed .col-md-5,
  .features-area .features-items.reversed .col-md-7 {
    display: block;
    float: none;
    width: 100%;
    box-sizing: border-box;
  }

  .features-area .features-items.reversed .info-box {
    float: none;
    width: 100%;
    box-sizing: border-box;
  }

  .features-area.item-full .features-items .item,
  .features-area .features-items .item {
    padding: 15px;
    margin-left: 128px;
  }

  .features-area .item .icon {
    margin-bottom: 10px; /* Adjust as needed */
  }
}

@media only screen and (max-width: 994px) {
  .features-area .features-items.reversed .col-md-5,
  .features-area .features-items.reversed .col-md-7 {
    display: block;
    float: none;
    width: 100%;
    box-sizing: border-box;
  }

  .features-area .features-items.reversed .info-box {
    float: none;
    width: 100%;
    box-sizing: border-box;
  }
  @media only screen and (max-width: 394px) {
    .features-area.item-full .features-items .item, .features-area .features-items .item {
        padding: 15px;
        margin-left: 77px;
    }
}

  .features-area.item-full .features-items .item,
  .features-area .features-items .item {
    padding: 15px;
    margin-left: 30px;
  }

  .features-area .item .icon {
    margin-bottom: 10px; /* Adjust as needed */
  }
}
@media only screen and (max-width: 477px) {
  .features-area.item-full .features-items .item, .features-area .features-items .item {
      padding: 15px;
      margin-left: 18px;
  }
}


.features-area .item .icon i {
  background: #ffffff none repeat scroll 0 0;
  
 
  -moz-box-shadow: 0 0 10px #cccccc;
  -webkit-box-shadow: 0 0 10px #cccccc;
  -o-box-shadow: 0 0 10px #cccccc;
  box-shadow: 0 0 10px #cccccc;
  color: #ffaf5a;
  display: inline-block;
  font-size: 30px;
  height: 100px;
  line-height: 100px;
  position: relative;
  text-align: center;
  width: 100px;
  z-index: 1;
}

.features-area .features-items .items-box i {
  background: transparent;
}

.features-area .item .icon {
  margin-bottom: 25px;
}

.features-area .features-items.icon-solid i {
 
  -moz-box-shadow: 0 0 10px #cccccc;
  -webkit-box-shadow: 0 0 10px #cccccc;
  -o-box-shadow: 0 0 10px #cccccc;
  box-shadow: 0 0 10px #cccccc;
  color: #ffaf5a;
  display: inline-block;
  font-size: 50px;
  height: 80px;
  line-height: 80px;
  position: relative;
  text-align: center;
  width: 80px;
}


.features-area .item .info h4 {
    font-weight: 600;
    text-transform: capitalize;
    font-size: 20px;
}
.features-area .item .info p {
  margin: 0;
}

.features-area .features-items.less-icon .items-box.inc-cell .item .info {
  padding-left: 0;
}

.features-area .features-items .items-box.inc-cell .item .info a {
  color: #666666;
  display: inline-block;
  margin-top: 15px;
  text-transform: uppercase;
}

.features-area .features-items .items-box.inc-cell .item .info a:hover {
  color: #ffaf5a;
}
